@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Caveat", cursive;
  box-sizing: border-box;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  background: #fafafa;
}

/* Navbar */
header {
  display: flex;
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  justify-content: space-between;
  font-size: 21px;
  border-bottom: 1px solid rgb(240, 240, 240);
  background: white;
  z-index: 1;
}

.logo {
  margin-left: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul a {
  list-style-type: none;
  text-decoration: none;
  color: #ed3ba5;
  float: left;
  margin: 10px 0;
}

.nav1 ul {
  margin-left: 130px;
  margin-top: 15px;
}

.nav2 ul {
  margin-top: 15px;
}

.nav2 a li {
  color: black;
}

.nav2 ul a img {
  margin-top: 0;
}

li {
  margin-top: -5px;
  padding: 0 30px;
}

/*Img section*/
.cakepage-body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

.bottom-nav {
  align-self: center;
}

.bottom-nav li {
  margin: 0 20px;
  font-size: 22px;
  color: black;
}

.img-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex: 2;
  margin: 30px 100px;
}

.img-section img {
  width: 100%;
  height: 220px;
}

.img-n-desc {
  margin: 30px;
  text-align: center;
  background: white;
  font-size: 18px;
  transition: all 0.7s;
  cursor: pointer;
}

.img-n-desc:hover {
  transform: scale(1.06);
}

.img-n-desc p {
  margin: 7px;
}

.candy .img-n-desc {
  margin: 40px;
}

/* .aside-bar {
  border: 1px solid rgb(240, 240, 240);
  background: white;
  margin-left: 50px;
  text-align: left;
  font-size: 20px;
  flex: 0.4;
}

.aside-bar ul {
  list-style-type: none;
} */

/* .aside-bar li {
  margin: 20px;
} */

.bottom-nav a {
  text-decoration: none;
  color: black;
  margin: 12px;
}
.bottom-nav a {
  position: relative;
}

.bottom-nav {
  background-color: #fafafa;
}

.bottom-nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.bottom-nav a:hover:before {
  visibility: visible;
  transform: scaleX(0.5);
}

.searchbox {
  margin-left: 500px;
  margin-top: 10px;
}

/* Sign out box */

#signout {
  display: none;
  position: absolute;
  top: 18%;
  left: 35%;
  width: 500px;
  height: 230px;
  z-index: 1;
  border-radius: 3px;
  background: white;
  box-shadow: 5px 5px 20px #b9b7b7;
}

#signout h2,
#signout a,
#signout p {
  margin: 30px;
  text-decoration: none;
}

#signout p {
  font-size: 22px;
  margin-bottom: 50px;
}

#signout a {
  margin-top: 100px;
  text-decoration: none;
  color: black;
}

#signout:focus body {
  background-color: black;
}
/* Candy images size */
.img-section .candy-img {
  width: 290px;
  height: 260px;
}

.signin-item {
  cursor: pointer;
}

/*Focused item*/
.focusedItem {
  display: none;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  background-color: #b9b7b7;
  position: absolute;
  top: 12%;
  left: 32%;
  padding: 20px;
}

.focusedItem-desc {
  margin: 20px;
}
