@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Caveat", cursive;
  box-sizing: border-box;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  background: #fafafa;
}

/* Navbar */
header {
  display: flex;

  margin-bottom: 20px;
  justify-content: space-between;
  font-size: 21px;
  border-bottom: 1px solid lightgray;
  background: white;
}

.logo {
  margin-left: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul a {
  list-style-type: none;
  text-decoration: none;
  color: #ed3ba5;
  float: left;
  margin: 10px 0;
}

.nav1 ul {
  margin-left: 130px;
  margin-top: 15px;
}

.nav2 ul {
  margin-top: 15px;
}

.nav2 a li {
  color: black;
}

.nav2 ul a img {
  margin-top: 0;
}

li {
  margin-top: -5px;
  padding: 0 30px;
}

/*Img section*/
.cakepage-body {
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
}

.img-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex: 2;
  margin: 30px 100px;
}

.img-section img {
  width: 330px;
  height: 200px;
}

.img-n-desc {
  margin: 30px;
  text-align: center;
  background: white;
  font-size: 18px;
}

.img-n-desc p {
  margin: 7px;
}

.candy .img-n-desc {
  margin: 40px;
}

.aside-bar {
  border: 1px solid lightgray;
  background: white;
  margin-left: 50px;
  text-align: left;
  font-size: 20px;
  flex: 0.4;
}

.aside-bar ul {
  list-style-type: none;
}

.aside-bar li {
  margin: 10px;
}

.searchbox {
  margin-left: 500px;
  margin-top: 10px;
}

/* Sign out box */

.signout {
  display: none;
  position: absolute;
  top: 20%;
  left: 40%;
  width: 500px;
  height: 250px;
  z-index: 1;
  background: white;
  box-shadow: 5px 5px 20px #b9b7b7;
}

/* Candy images size */
.img-section .candy-img {
  width: 290px;
  height: 250px;
}
