@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Caveat", cursive;
  box-sizing: border-box;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  background: #fafafa;
}

/* Navbar */
header {
  display: flex;

  margin-bottom: 20px;
  justify-content: space-between;
  font-size: 21px;
  border-bottom: 1px solid rgb(240, 240, 240);
  background: white;
}

.logo {
  margin-left: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul a {
  list-style-type: none;
  text-decoration: none;
  color: #ed3ba5;
  float: left;
  margin: 10px 0;
}

.nav1 ul {
  margin-left: 130px;
  margin-top: 15px;
}

.nav2 ul {
  margin-top: 15px;
}

.nav2 a li {
  color: black;
}

.nav2 ul a img {
  margin-top: 0;
}

li {
  margin-top: -5px;
  padding: 0 30px;
}

main {
  margin: 10px;
}

.item {
  background: white;
  margin: 40px;
  display: flex;
  justify-content: space-between;
  height: 260px;
}

.item-img {
  margin: auto 0;
}

.item-btns {
  margin: auto 0;
}

.item button {
  margin: 10px;
  padding: 10px;
  outline: none;
  border: none;
  width: 120px;
  background: #ffd3e1;
  transition: all 1s;
  cursor: pointer;
  font-family: "Caveat", cursive;
  font-size: 18px;
}

.item button:hover,
.end-buttons button:hover {
  background: #faa5d8;
}

.item-desc {
  margin: auto 0;
  font-size: 18px;
}

/* .item-desc strong {
  margin: 0 20px;
} */

.item-desc h3 {
  font-weight: normal;
}

.end-buttons {
  margin: 40px;
}

.end-buttons button {
  margin: 10px;
  margin-bottom: 30px;
  padding: 10px;
  outline: none;
  border: none;
  width: 120px;
  background: white;
  transition: all 1s;
  cursor: pointer;
  font-family: "Caveat", cursive;
  font-size: 18px;
  transition: all 1s;
  float: right;
  border: 2px solid #faa5d8;
}
