@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

html {
  font-family: "Caveat", cursive;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.page-body {
  position: relative;
}

header {
  display: flex;
  margin: 10px 50px;
  justify-content: space-between;
  font-size: 21px;
}

ul a {
  list-style-type: none;
  text-decoration: none;
  float: left;
}

li {
  margin-top: -5px;
  padding: 0 22px;
}

.main-form {
  position: absolute;
  top: 50%;
}
