@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Caveat", cursive;
}

body {
  background-color: #fdf3f6;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* .page-body {
  position: relative;
} */

/* Navbar */
/* header {
  display: flex;
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  justify-content: space-between;
  font-size: 21px;
  border-bottom: 1px solid rgb(240, 240, 240);
  background: #fde0e9;
  z-index: 1;
}

.logo {
  margin-left: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul a {
  list-style-type: none;
  text-decoration: none;
  color: #ed3ba5;
  float: left;
  margin: 10px 0;
}

.nav1 ul {
  margin-left: 130px;
  margin-top: 15px;
}

.nav2 ul {
  margin-top: 15px;
}

.nav2 a li {
  color: black;
}

.nav2 ul a img {
  margin-top: 0;
}

li {
  margin-top: -5px;
  padding: 0 30px;
} */

/* Form-body */
.main-form {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 450px;
  max-width: 100%;
  border-radius: 5px;
}

.header {
  padding: 20px 0;
  font-weight: 550;
  text-align: center;
  background-color: #ffe4ed;
  border-bottom: 1px solid #f0f0f0;
}

form {
  align-items: center;
  /* padding: 18px 10px; */
  font-size: 15px;

  text-align: center;
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 25px;
  position: relative;
}

.form-control label {
  display: inline-block;
  text-transform: uppercase;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  width: 95%;
  margin: 10px;
  margin-top: 6px;
  padding: 6px;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 3%;
  font-size: 17px;
  margin-top: 1px;
}

input[type="submit"] {
  width: 40%;
  /* border: 3px solid #5dc261; */
  background: #ffd3e1;
  border: none;
  padding: 8px 20px;
  margin: 10px 0;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-family: "Caveat", cursive;
  font-size: 15px;
  text-transform: uppercase;
}

.form-para {
  margin-top: 0;
  text-transform: none;
  font-size: 18px;
}

.form-para a {
  text-decoration: none;
  color: black;
  text-decoration: underline;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.error small {
  visibility: visible;
  color: #e74c3c;
}
