@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

html {
    font-family: 'Caveat', cursive;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;        
}

.home-body {
    display: flex;
}

.white-section {
    background-color: white;
    width: 60vw;
    height: 100vh;
    position: relative;      
}

.pink-section {
    background-color: #FFD3E1;
    width: 40vw;
    height: 100vh;  
    position: relative;  
}

/* white section nav bar */
header {
    margin : 10px 50px;
    display: flex;
    }


.nav1 ul {
    list-style-type: none; 
    align-items: flex-end;  
    margin-left: 350px; 
    margin-top: 10px;
}
.home-item{
    margin-left: -30px;
    margin-right: 40px;
}

ul a {
    text-decoration: none;
    color: #ED3BA5;
    font-size: 19px;
    float: left;
}

li {
    margin: 6px;
}

/* pink section nav bar */
.nav2 ul {
    list-style-type: none;
    margin-top: 20px;
    margin-right: 50px;
    float: right;
}

.signin-item {
    color: black;
    font-weight: 500;
    margin-right: 40px;
}

/* white section images */
.tasty-pic1 {
    position: absolute;
    top: 15%;
    left: 50%;
}

.tasty-pic2 {
    position: absolute;
    top: 40%;
    left: 23%;
}

.tasty-pic3 {
    position: absolute;
    top: 65%;
    left: 50%;
}

/* pink section text */
main h1 {
    position: absolute;
    top: 33%;
    left: -60%;
    color: #EC41A7;
    font-size: 90px;
    text-transform: uppercase;
    text-shadow: 8px 4px 7px #FE79C8;    
}

main p{
    position: absolute;
    top: 60%;
    left: 5%;
    color: #D31E8B;
    font-size: 23px;
}

main button {
    position: absolute;
    top: 80%;
    left: 14%;
    cursor: pointer;
    padding: 5px 50px;
    border-radius: 40px;
    border: 3px solid #EC41A7;
    outline: none;
    background: rgba(255, 211, 225, 0);
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: #D31E8B;
}